<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.ITRDataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ITRDataAccess.Properties.Settings.itrserverConnectionString"
            connectionString="Data Source=CAS_06\SQLEXPRESS;Initial Catalog=itrserver;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CAS.ITRDataAccess.Properties.Settings.itrserverConnectionString"
            connectionString="Data Source=CAS_06\SQLEXPRESS;Initial Catalog=itrserver;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CAS.ITRDataAccess.Properties.Settings.godzinyConnectionString"
            connectionString="Data Source=CAS_06\SQLEXPRESS;Initial Catalog=godziny;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CAS.ITRDataAccess.Properties.Settings>
            <setting name="RequestUrl" serializeAs="String">
                <value>http://cas_sp:11225/sites/a06 </value>
            </setting>
            <setting name="WorkloadStartDate" serializeAs="String">
                <value>2011-07-01</value>
            </setting>
        </CAS.ITRDataAccess.Properties.Settings>
    </applicationSettings>
</configuration>