<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAS.AgileWorkloadTracker.SiteManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAS.AgileWorkloadTracker.SiteManagement.Properties.Settings>
            <setting name="SiteURL" serializeAs="String">
                <value>http://casas:11227/sites/awt</value>
            </setting>
            <setting name="TraceSourceName" serializeAs="String">
                <value>CAS.AWTManagement</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>CAS.AWTManagement.Log</value>
            </setting>
            <setting name="LogSourceLevel" serializeAs="String">
                <value>All</value>
            </setting>
        </CAS.AgileWorkloadTracker.SiteManagement.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
