.TextBox 
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:350px;
}
.TextBoxShort 
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:150px;
}
.TextBoxLong 
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    font-family:Verdana;
    font-size:10pt;
    width:600px;
}
.Button
{
    border-width:1px 1px 1px 12px;
    width:90px;
    height:20px;
    border-top-color:#addbf7;
    border-bottom-color:#addbf7;
    border-left-color:#91cdf2;
    border-right-color:#91cdf2;
    border-style:solid;
    background-image:url(/_layouts/images/ShepherdDashboards/button_background.jpg);
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:8pt; 
}
.Table
{
    width:auto;
    padding:10px;
    border:0px;
}
.TableInside
{
    width:auto;
    padding:0px;
    border:0px;
}
.Label
{
    font-size:8pt;
    font-family:Verdana;
    color:#6d6f72;
}
.DropDown
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt;
    width:350px;
}
.DropDownShort
{
    border-width:1px 1px 1px 1px;
    border-color:#91cdf2;
    border-style:solid;
    background-color:#FFFFFF;
    font-family:Verdana;
    font-size:10pt;
    width:300px;
}
a.ms-addnew{
    font-weight:normal;
    font-family:verdana;
    font-size:8pt;
    color:#003399;
    text-decoration:none;
}
a.ms-addnew:Hover{
    color:#000000;
    text-decoration:underline;
}
a.ms-addnew:Visited
{
    color:#003399;
    text-decoration:none;
}
/*SharePoint:InputFormTextBox*/
table.ms-rtetoolbarmenu{ 
    width:100%;
} 

iframe.ms-rtelong{ 
    width:100%;
} 
    